/* Empty. Add your own CSS if you like */

body {
    background-color: yellow !important;
}


.item-complex .item-content, .item{
    background-color: black;
    color: red;
}

.h2 {
background-color: blue;
color: yellow;
}